<!-- ***********************************************student/login.html******************************************** -->
{%extends 'main/base.html'%}

{%block main%}
{%include 'main/flashed_message.html'%}
<section>
    <h3>faculty login</h3>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.email.label(class='form-label')}}
            {{form.email(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.password.label(class='form-label')}}
            {{form.password(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.submit(class='btn btn-primary')}}
        </div>

        {%for error in  form.email.errors%}
            <p>{{error}}</p>
        {%endfor%}
        
        {%for error in  form.password.errors%}
            <p>{{error}}</p>
        {%endfor%}
    </form>
</section>
{%endblock%}