<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- ******************************************************HEADER******************************************** -->
    <header>
        <h1>Online Course Management</h1>
    </header>
    <!-- ******************************************************NAVIGATION******************************************** -->
    <nav>
        <ul>
            <li><a href="{{url_for('main.index')}}">home</a></li>
            
            {%if current_user.is_authenticated%}
                <li><a href="{{url_for('student.logout')}}">logout</a></li>
                <li><a href="{{url_for('faculty.logout')}}">logout</a></li>
            {%else%}
                <li><a href="{{url_for('student.login')}}">studnet login</a></li>
                <li><a href="{{url_for('faculty.login')}}">faculty login</a></li>
                <li><a href="{{url_for('student.signup')}}">student signup</a></li>
                <li><a href="{{url_for('faculty.signup')}}">faculty signup</a></li>
            {%endif%}
            
            
        </ul>
    </nav>
    <!-- ******************************************************MAIN******************************************** -->
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <!-- ******************************************************FOOTER******************************************** -->
    <footer>
        <section>
            <h4>copyright &copy; 2020</h4>
            <p>all rights are reserved by zuber shekh</p>
        </section>
    </footer>
</body>
</html>